body {
  color: #008000;
}

footer {
  font-size: 15px;
  margin-top: 26px;
}

.background {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 600px;
  height: 375px;
  border-radius: 20px;
  background-image: url("/src/images/background.jpg");
  background-size: cover;
}
